body {
  background-color: #e1e1e1;
}

.nav-container {
  display: flex;
  position: fixed;
  top: 0;
  height: 4.5rem;
  width: 100%;
  box-shadow: 0px 1px 20px 0;
  background-color: #e1e1e1;
  max-width: 1920px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.nav-options {
  margin: auto;
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-option {
  margin: 0 1rem;
  text-decoration: none;
  color: #1e1e1e;
}

.content-wrapper {
  max-width: 900px;

  margin: 0 auto;

  padding: 0 1.5rem;
}

.main-container {
  margin-top: 5.5rem;
  padding-bottom: 3rem;
}

.hero-container > .photo-border {
  padding: 1rem;
  border-radius: 100%;
  border: 5px solid #5a93ff;
  width: fit-content;
  margin: 0.5rem auto;
}

.hero-container > .photo-border > .photo {
  width: 10rem;
  border-radius: 100%;
  display: block;
}

.hero-container > .name {
  text-align: center;
  font-size: 1.5rem;
}

.hero-container > .role {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.1rem;
  padding: 0 2rem;
}

.hero-container > .about-me {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.3rem;
}

.divider {
  border-bottom: 2px solid;
  margin: 1rem 0;
  border-color: #5a93ff;
}

.about-me-p {
  margin: 0;
  text-align: justify;
}

.hobbies-title {
  text-align: center;
  font-size: 1.3rem;
}

.card {
  margin: 1rem 0 0 0;
  border: 2px solid #5a93ff;
  border-radius: 1rem;
  padding: 1rem;
}

.card-title {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.card-body {
  text-align: justify;
}

.footer-title {
  text-align: center;
  font-size: 1.3rem;
}

.footer-links {
  margin: 1rem 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-link {
  width: fit-content;
}
